<%= fields_for @ticket do |f| %>
  <%= f.fields_for :assets do |asset| %>
    <p>
      <%= asset.label :asset, "File ##{number += 1}" %>
      <%= asset.file_field :asset %>
    </p>
  <% end %>
<% end %>