<%= fields_for @ticket do |ticket| %>
  <%= ticket.fields_for :assets do |f| %>
    <p>
      <%= f.label :asset, "File ##{params[:number].to_i + 1}" %>
      <%= f.file_field :asset %>
    </p>
  <% end %>
<% end %>