<h2>Welcome to Ticketee!</h2>
<div id='welcome'>
  <p><strong>Thanks for creating an account!</strong></p>
  <p>
    Just one more step to go. Please check your email for a confirmation 
    email from us and then you'll be good to go.
  </p>
</div>